*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;

}
.body{
    overflow: hidden;
    overflow-y: hidden;
}
html {
    overflow-x: hidden;
}

#landing-page{
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    height:100vh;
    max-width: 100%;
    
   

}
.texti{
    width: 90%;
    color: white;
    position:absolute;
    top: 45.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.logo1{
    padding-bottom: 5%;
    
    
}
.para{
    font-size: 50px;
    font-weight:600 ;

}
.welcome{
    padding-bottom: 1%;
}
.mouse-logo{
    position: absolute;
    bottom: 5%;
    left: 48.7%;
}
.mouse-logo img{
    height: 50px;
}
.aboutUs{
    height:auto;
    width:100%;
    text-align: center !important;
    max-width: 100%;
    
}
.aboutUs article{
    padding:7rem;
    line-height: 40px;
    color: #242323;
    font-size: 22px;
}
.services{
    height: 100%;
    width: 100%;
    
    background-image: url(../images/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 7% 0;
    margin-bottom: 2%;
    max-width: 100%;

    
}
.services div{
    padding: 0px 15px;
    margin :0px auto;
    line-height: 40px;
    color: #ffff;
    font-size: 22px;
    text-align: center !important;
}

@media screen and (max-width:1200px) {
    .aboutUs article {
        padding: 2rem;

        color: #242323;
        font-size: 20px;
    }

    ;

    .services div {
        padding: 1rem;

        color: #242323;
        font-size: 20px;
    }

};
.whatWeDoSection{
    height: 100vh;
    max-width: 100%;
    
    
}
.whatWeDo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 40vh;
    align-items: center;
    padding-left: 5%;
   

    
    
    
}
.hide{
    display: none;
}
.hide h3{
   text-align: center;
   padding-bottom: 5px;
}
.hide p{
    text-align: center;
}
.whatWeDo div{
    
    align-items: center;
    text-align: center;
    
}
.whatWeDoSection h2{
   margin-left: auto;
   margin-right: auto;
   width: 8em
   
   
}
.fav-icons{
    width: 80px;
    height: 80px;
}
.portfolio{
    height: 100vh;
    max-width: 100%;
}
.portfolio h2{
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
.portfolio-images{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 10px;
    justify-content: center;
    grid-gap: 1%;
    padding-top: 15px;
   
    

}
.container{
    position: relative;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
    
}
.container:hover img{
    opacity: 0.2;
}

.container:hover .middle{
    opacity: 1;
   
}
.text {
    background-color: transparent;
    color: black;
    font-size: 30px;
    font-weight: bold;
    border: 7px solid white;
    padding: 4%;
    
}
.contact{
    background-image: url(../images/c_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
    padding-top: 40px;
    color: white;
    max-width: 100%;
}
.contact h2{
    margin-left: auto;
    margin-right: auto;
    width: 8em
   
    
}
.contact-form{
    position: absolute;
    top: 30%;
    width: 100%;
}
.nameEmail{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.name-field{
    padding-right: 5%;
}
input[type=text]{
    width: 440px;
    margin: auto;
    outline: none;
    border:2px solid #f6f9fc;
    border-radius:2px;
    padding:5px;
    color:#b0f0a3;
    font-size:20px;
    background: transparent;
    

}

input[type=email] {
    width: 440px;
    margin: auto;
    outline: none;
    border: 2px solid #f6f9fc;
    border-radius: 2px;
    padding: 5px;
    color: #b0f0a3;
    font-size: 20px;
    background: transparent;

}
textarea{
    position: absolute;
    left: 22%;
    margin-top:2% ;
    background: transparent;
    outline: none;
    color: white;
    border: 2px solid #f6f9fc;

}
.submiting{
    position: absolute;
    left: 22%;
    top:690%;
}

footer{
    padding: 2% 0;
    position: relative;
    max-width: 100%;
}
.footer-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.delani-footer-text{
   position:absolute;
   left: 45%;
   padding-bottom: 20px;
    
}
.delani-footer-text p{
    padding-left: 60px;
}
@media screen and (max-width:1550px) {
    .portfolio-images {
        display: grid;
        grid-template-columns: auto auto auto ;
        padding-left: 10px;
        justify-content: center;
        grid-gap: 1%;
        padding-top: 15px;


    }
    
}
@media screen and (max-width:1300px) {
    .portfolio {
        height: auto;
    }
    .portfolio-images {
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 10px;
        justify-content: center;
        grid-gap: 1%;
        padding-top: 15px;
        overflow: hidden;



    }
    
    
}
#submit{
    height: 40px;
    width: 140px;
    font-size: 16px;
    padding: 2%;
    color: white;
    background: #5e78a8;
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}
#submit:hover{
    
    width: 150px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    cursor: pointer;
    height: 45px;
    border: none;
    border-radius: 10px;
    transition: all .4s ease-in-out;
    background-color: white;

}














