*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.body{
    overflow: hidden;
    overflow-y: hidden;
}

#landing-page{
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    height:100vh;
    
   

}
.text{
    width: 90%;
    color: white;
    position:absolute;
    top: 45.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.logo1{
    padding-bottom: 5%;
    
    
}
.para{
    font-size: 50px;
    font-weight:500;
}
.welcome{
    padding-bottom: 1%;
}
.mouse-logo{
    position: absolute;
    bottom: 5%;
    left: 48.7%;
}
.mouse-logo img{
    height: 50px;
}
.aboutUs{
    height:auto;
    width:100%;
    text-align: center !important;
    
}
.aboutUs article{
    padding:7rem;
    line-height: 40px;
    color: #242323;
    font-size: 22px;
}
.services{
    height: 100%;
    width: 100%;
    
    background-image: url(../images/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 7% 0;

    
}
.services div{
    padding: 0px 15px;
    margin :0px auto;
    line-height: 40px;
    color: #ffff;
    font-size: 22px;
    text-align: center !important;
}

@media screen and (max-width:1200px) {
    .aboutUs article {
        padding: 2rem;

        color: #242323;
        font-size: 20px;
    }

    ;

    .services div {
        padding: 1rem;

        color: #242323;
        font-size: 20px;
    }

};
.whatWeDoSection{
    height: 100vh;
    
}
.whatWeDo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 40vh;

    
    
    
}
.hide{
    display: none;
}
.whatWeDo div{
    padding-right: 20px;
    align-items: center;
}
.fav-icons{
    width: 80px;
    height: 80px;
}
.portfolio{
    height: 100vh;
}
.portfolio-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    

}
.contact{
    background-image: url(../images/c_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    position: relative;
}
.contact-form{
    position: absolute;
    top: 30%;
    width: 100%;
}
.nameEmail{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.name-field{
    padding-right: 5%;
}
input[type=text]{
    width: 440px;
    margin: auto;
    outline: none;
    border:1px solid #f6f9fc;
    border-radius:2px;
    padding:5px;
    color:#b0f0a3;
    font-size:20px;
    background: transparent;
    

}

input[type=email] {
    width: 440px;
    margin: auto;
    outline: none;
    border: 1px solid #f6f9fc;
    border-radius: 2px;
    padding: 5px;
    color: #b0f0a3;
    font-size: 20px;
    background: transparent;

}
textarea{
    position: absolute;
    left: 22%;
    margin-top:2% ;
    background: transparent;
    outline: none;
    color: white;
    border: 1px solid #f6f9fc;

}